 <h1><%= @user.name %></h1>

 <div class="row">
   <div class="col-md-3">
     <p><%= @user.email %></p>
   </div>
   
   <div class="col-md-9">
    

          <%= render "items/item", user: @user %>

      
     </div>
 </div>
