 <% if @item.complete? %>
   $('#item-'+<%= @item.id %>).toggleClass( "completed" );
    $('#item-'+<%= @item.id %>+' a').attr("href", "#").data("method", "")
 <% else %>

   $('.flash').prepend("<div class='alert alert-danger'><button type='button' class='close' data-dismiss='alert'>&times;</button><%= flash.now[:alert] %></div>");
 <% end %>