// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.items > a {
    margin:8px;
}

.items > ul,li {
    list-style-type: none;
}

span.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

a.icon.completed:before {
  font-family: 'Glyphicons Halflings';
  content:"\e013";
} 

a.icon:before {
  font-family: 'Glyphicons Halflings';
  content:"\e157";
} 